In [1]:
%load_ext autoreload
%autoreload 2

In [4]:
from reporting.report_generator import ReportGenerator
from IPython.display import Image, display
from reportlab.pdfgen import canvas
from reportlab.lib.pagesizes import letter
import os
def show_me(data, filename="temp"):
    c = canvas.Canvas(f"temp/{filename}.pdf", pagesize=letter)
    data.wrapOn(c, 400, 300)
    data.drawOn(c, 50, 500)
    c.save()
    os.system(f"sips -s format png temp/{filename}.pdf --out temp/{filename}.png")  # Mac
    display(Image(f"temp/{filename}.png"))

In [5]:
from backtesting.portfolio_cache import load_cached_object

In [108]:
# table = report_generator.create_holdings_summary_table()
# show_me(table)

In [132]:
# buf = report_generator.create_portfolio_value_chart()
# display(Image(buf.getvalue())), buf

In [12]:
portfolio.generate_report()

Custom PDF report saved to: reports/dummy_portfolio_custom_report_20250606_235855.pdf

'reports/dummy_portfolio_custom_report_20250606_235855.pdf'

In [6]:
from backtesting.backtest import Backtest
from backtesting.scenarios import scenario_1, scenario_2, scenario_3

In [ ]:
backtest = Backtest.from_scenario(scenario_1)

backtest.run()
backtest.generate_report(filename="backtest_report.pdf")

Backtest starting... whomp whomp!
Total trading days: 2717
Universe size: 480
 Starting in 2015-01-01
 Ending in 2025-06-01

Backtesting: 100%|██████████| 2717/2717 [24:48<00:00,  1.82day/s]

Ding ding ding! Backtest completed!
Custom PDF report saved to: reports/sp500_10yrs_unconstrained_no_short_macd_rsi_bollinger_mr_custom_report_20250607_104301.pdf

'reports/sp500_10yrs_unconstrained_no_short_macd_rsi_bollinger_mr_custom_report_20250607_104301.pdf'

In [3]:
portfolio = backtest.get_portfolio()

In [2]:
from backtesting.portfolio_cache import cache_backtest,load_cached_object

# cache_backtest(backtest)

In [92]:
p = load_cached_object("fe69967064")

Loaded from cache: fe69967064

In [144]:
p.generate_report(filename=f"cached_report.pdf")

Custom PDF report saved to: reports/cached_report.pdf

'reports/cached_report.pdf'

In [148]:
backtest = Backtest.from_scenario(scenario_2)

backtest.run()
backtest.generate_report(filename="backtest_report2.pdf")

Backtest starting... whomp whomp!
Total trading days: 85
Universe size: 480
 Starting in 2025-02-01
 Ending in 2025-06-01

Backtesting: 100%|██████████| 85/85 [00:07<00:00, 11.07day/s]

Ding ding ding! Backtest completed!
Custom PDF report saved to: reports/backtest_report2.pdf

'reports/backtest_report2.pdf'

In [91]:
backtest.generate_report(filename="backtest_report2.pdf")

Custom PDF report saved to: reports/backtest_report2.pdf

'reports/backtest_report2.pdf'

In [7]:
backtest = Backtest.from_scenario(scenario_3)

backtest.run()
backtest.generate_report(filename="backtest_report3.pdf")

Backtest starting... whomp whomp!
Total trading days: 890
Universe size: 480
 Starting in 2022-01-01
 Ending in 2025-06-01

Backtesting: 100%|██████████| 890/890 [01:16<00:00, 11.59day/s]

Ding ding ding! Backtest completed!
Custom PDF report saved to: reports/backtest_report3.pdf

'reports/backtest_report3.pdf'

In [151]:
cache_backtest(backtest)

Backtest saved to cache with key: b890f212a2
File size: 38.63 MB
Cached backtest with key: b890f212a2

'b890f212a2'

In [3]:
b = load_cached_object("b890f212a2")

Loaded from cache: b890f212a2

In [4]:
b.generate_report()

Custom PDF report saved to: reports/sp500_3yrs_unconstrained_no_short_macd_custom_report_20250607_165638.pdf

'reports/sp500_3yrs_unconstrained_no_short_macd_custom_report_20250607_165638.pdf'

In [156]:
date = "2025-04-23"

In [157]:
prices = portfolio.get_prices_by_dates(
            "open", start_date=date, end_date=date, lookahead_window=1
        )
prices

,MMM,AOS,ABT,ABBV,ADBE,AMD,AFL,A,ABNB,AKAM,...,WSM,WMB,WDAY,WYNN,XYL,YUM,ZBRA,ZBH,ZTS,Date
Date,,,,,,,,,,,,,,,,,,,,,
2025-04-23,138.700692,64.879182,132.210007,175.0,358.119995,91.879997,107.953916,106.669998,119.699997,75.889999,...,148.440002,58.77,226.0,78.947575,113.836451,144.839525,237.889999,98.139999,151.940002,2025-04-23

In [161]:
from collections import Counter


c = Counter(portfolio.holdings)
# portfolio_value = prices[self.holdings].iloc[0].sum()

In [168]:
c.values()

dict_values([6, 9, 8, 7, 6, 5, 7, 8, 8, 5, 3, 3, 2, 6, 4, 2, 7, 6, 5, 4, 5, 5, 3, 3, 4, 8, 4, 2, 2, 3, 9, 5, 4, 3, 1, 4, 2, 5, 2, 3, 6, 4, 2, 3, 3, 3, 1, 2, 5, 4, 3, 2, 2, 1, 2, 3, 4, 4, 2, 2, 2, 2, 1, 1, 1, 1, 1, 5, 1, 2, 1, 1, 1, 1, 2, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 3, 2, 1, 3, 3, 2, 1, 1, 1, 5, 1, 1, 2])

In [172]:
import pandas as pd

c = Counter(portfolio.holdings)
shares = pd.DataFrame({"ticker": c.keys(), "count": c.values()})

In [176]:
shares

    ticker  count
0       EW      6
1      PFE      9
2      IQV      8
3      UHS      7
4      EFX      6
..     ...    ...
110    UNH      1
111   CPRT      5
112   CRWD      1
113    CNC      1
114   VRSN      2

[115 rows x 2 columns]

In [175]:
prices.T

Date           2025-04-23
MMM            138.700692
AOS             64.879182
ABT            132.210007
ABBV                175.0
ADBE           358.119995
...                   ...
YUM            144.839525
ZBRA           237.889999
ZBH             98.139999
ZTS            151.940002
Date  2025-04-23 00:00:00

[364 rows x 1 columns]

In [177]:
import numpy as np

np.unique(portfolio.holdings)

array(['AAPL', 'ABBV', 'AKAM', 'AMGN', 'AOS', 'APA', 'AVY', 'BA', 'BALL',
       'BAX', 'BDX', 'BIIB', 'BKR', 'BMY', 'BSX', 'CI', 'CNC', 'COF',
       'COO', 'COP', 'CPRT', 'CRM', 'CRWD', 'CVS', 'CVX', 'DAY', 'DGX',
       'DHI', 'DVA', 'DVN', 'EFX', 'ELV', 'EW', 'EXPD', 'EXPE', 'F',
       'FANG', 'FAST', 'FICO', 'FIS', 'GD', 'GDDY', 'GE', 'GEHC', 'GILD',
       'GL', 'GLW', 'GPN', 'HAL', 'HAS', 'HBAN', 'HES', 'HII', 'HON',
       'HUM', 'INCY', 'IQV', 'IT', 'J', 'JNJ', 'JNPR', 'JPM', 'LEN',
       'LLY', 'MA', 'MCD', 'MMC', 'MRK', 'MRNA', 'MSI', 'NDAQ', 'NKE',
       'NTAP', 'NWSA', 'OKE', 'OTIS', 'PANW', 'PFE', 'PGR', 'PHM', 'PRU',
       'PYPL', 'QCOM', 'REGN', 'ROP', 'RTX', 'RVTY', 'SBUX', 'SCHW',
       'SLB', 'SMCI', 'SNPS', 'SPGI', 'STT', 'SYK', 'TECH', 'TMO', 'TRGP',
       'TRV', 'TYL', 'UHS', 'ULTA', 'UNH', 'UPS', 'V', 'VRSN', 'VRTX',
       'WAB', 'WDAY', 'WDC', 'WFC', 'WST', 'XOM', 'ZBH', 'ZTS'],
      dtype='<U4')

In [178]:
import numpy as np

prices[np.unique(portfolio.holdings)].iloc[0].sum()

np.float64(21778.717874953283)